<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "mypic.jpg" %>
  </div>

  <div id="content">
    <h2> Hi, I'm Arash Shahry<h2>
    <p> Welcome to my bolg! I am creating this blog as part of my assignments at General Assembly.</p>
    <p>This week we learned a lot of cool things! I am also passionate about music.</p>
    <p> If you don't see me coding, or playing cello on stages around Maryland/DC/NOVA areas, I am probably on travel or skiing. </p>
    <p> If you'd like to stay in touch, you can follow me on social media websites.</p>
  </div>

</div>
